<div class="row text-center">
    <div class="col-md-6 offset-3">
    <h1 class="text-info">User not found</h1>
    <hr />
    <a class=" = btn-outline-success" asp-controller="Home" asp-action="Index">Return</a>
    </div>
</div>