@model User

@{
    ViewData["Title"] = "Add a new User";
}

<div class="row text">
    <div class="col-md-8 offset-2">

        <h1>Add a new User</h1>

<form asp-controller="User" asp-action="CreateUser" method="post" enctype="multipart/form-data">
    <div class="form-group text-center">
        <img id="ProfilePicturePreview" />

    </div>


    <div class="form-group">
        <label asp-for="ProfilePicture">Profile Picture</label>
        <input type="file" class="form-control" id="ProfilePicture" name="ProfilePicture">
        <span asp-validation-for="ProfilePicture" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Username">Username</label>
        <input type="text" class="form-control" id="Username" name="Username" required>
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password">Password</label>
        <input type="password" class="form-control" id="Password" name="Password" required>
                <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
                <label asp-for="first_name">First Name</label>
        <input type="text" class="form-control" id="first_name" name="first_name" required>
                <span asp-validation-for="first_name" class="text-danger"></span>
    </div>

    <div class="form-group">
                <label asp-for="last_name">Last Name</label>
        <input type="text" class="form-control" id="last_name" name="last_name" required>
                <span asp-validation-for="last_name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input type="email" class="form-control" id="Email" name="Email" required>
                <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    

    <input type="hidden" name="RegistrationDate" value="@DateTime.Now">

    <button type="submit" class="btn btn-primary">Create User</button>
</form>

    </div>

</div>

@section Scripts{
    <script>

        $(document).ready(function(){
            var file = this.files[0];
            var reader = new FileReader();

            reader.onloadend = function () {
                $('#ProfilePicturePreview').attr('src', reader.result);
            }

            if (file) {
                reader.readAsDataURL(file);
            } else {
                $('#ProfilePicturePreview').attr('src', '');
            }
        })

        $("#ProfilePicture").on("change", function () {
            var file = this.files[0];
            var reader = new FileReader();

            reader.onloadend = function () {
                $('#ProfilePicturePreview').attr('src', reader.result);
            }

            if (file) {
                reader.readAsDataURL(file);
            } else {
                $('#ProfilePicturePreview').attr('src', '');
            }
        })
    </script>
}
